<md-content ng-repeat="product in products"
            layout="row"
            layout-align="space-between center">
  <div class="img">
    <img ng-src="{{product.image}}"/>
  </div>
  <div class="data">
    <h3>{{product.name}}</h3>
    <h4>{{product.category}}</h4>
    <span class="desc">Quantity: {{product.quantity}}</span>
    <span class="desc">Price: {{product.price | currency}}</span>
    <span class="desc">Total: {{product.price * product.quantity | currency}}</span>
  </div>
  <button ng-click="removeFromCart(product.id)">Remove From Cart</button>
</md-content>


<div ng-if="products.length == 0">
  <h1 style="text-align: center">No items in cart</h1>
</div>
<md-content>
<button ng-if="products.length > 0" class="gtech-express-checkout" ui-sref="home.cart.checkout()">Express Checkout</button>
</md-content>
