<md-content ng-repeat="product in products"
            layout="row"
            layout-align="space-between center">
    <div class="img">
      <img ng-src="{{product.image}}" />
    </div>
    <div class="data">
      <h3>{{product.name}}</h3>
      <h4>{{product.category}}</h4>
      <h5>{{product.price | currency}}</h5>
    </div>
    <button ng-click="addToCart(product.id)">Add To Cart</button>
</md-content>
