<ul class="gtech-categories-list">

  <!-- Prepare list of categories and add active css class to selected one -->
  <li ng-repeat="category in ctrl.categories" ui-sref-active="active">
    <a ui-sref="home.category({id: category.id})">{{ category.name }}</a>
  </li>

</ul>

