<ul class="breadcrumb">
  <li ng-repeat="crumb in breadcrumbs"
      ng-class="{ active: $last }">
    <a ui-sref="{{ crumb.route }}" ng-if="!$last">{{ crumb.displayName }}</a>
    <a href='#' ng-show="$last">{{ crumb.displayName }}</a>
  </li>
</ul>
