<p class="desc">
  GTech Frontend Portal Assigment. Maciej Guzek, @kezugo,
  <a href="https://www.linkedin.com/profile/view?id=AAIAAAEFbOIBg5oasYfVtx3UpYoAixk9dNxItfU">LinkedIn</a>,
  <a href="mailto:kezugo@gmail.com">kezugo@gmail.com</a>
</p>
